<!--<div class="flex">-->
<!--  <div class="flex-item">-->
<!--    <div style="display: block;">-->
<!--      <canvas baseChart width="50rem" height="40rem"-->
<!--              [data]="lineChartData"-->
<!--              [options]="lineChartOptions"-->
<!--              [type]="lineChartType"-->
<!--              (chartHover)="chartHovered($event)"-->
<!--              (chartClick)="chartClicked($event)"></canvas>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="flex-item">-->
<!--&lt;!&ndash;    <table class="table table-responsive table-condensed">&ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th *ngFor="let label of lineChartData.labels">{{label}}</th>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">&ndash;&gt;-->
<!--&lt;!&ndash;        <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--<markdown ngPreserveWhitespaces>-->

<!--  This chart demonstrates how custom chart types can be plugged into `ng2-charts`. Check out the Typescript source-->
<!--  code below.-->

<!--  This custom chart type depends on a package called-->
<!--  [`chartjs-chart-financial`](https://github.com/chartjs/chartjs-chart-financial).-->

<!--  This also demonstrates using a different date/time adapter than [`moment`](https://www.npmjs.com/package/moment).-->
<!--  This demo uses [`date-fns`](https://www.npmjs.com/package/date-fns) instead, plugged into the `chart.js` module using-->
<!--  the [`chartjs-adapter-date-fns`](https://www.npmjs.com/package/chartjs-adapter-date-fns) package.-->

<!--</markdown>-->

<canvas class="chart" baseChart
        height="580rem"
        [data]="financialChartData"
        [options]="financialChartOptions"
        [type]="financialChartType">
</canvas>
<!--<div>{{console.log(stock.name)}}</div>-->
<button mat-button mat-raised-button color="primary" (click)="update()">Toggle Chart Type</button>
